<form action="{% url 'manifiesto_app:eliminar-carro' car.pk %}" method="POST">{% csrf_token %}
                            <div class="col s12">
                                <h6 class="center-align">¿Desea eliminar la carrera "{{ object }}"?</h6>
                            </div>
                            <div class="col s12 center">
                                <button type="submit" name="action">si</button>
                                <a href="{% url 'manifiesto_app:listar-carro' %}">no</a>
                            </div>
</form>