{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block title %}lista de vehiculos{% endblock title %}

{% block sidenav %}

    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#caja">
            <i class="fa fa-fw fa-bullseye"></i>
            Caja Chica
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="caja" class="collapse">
            <li>
                <a href="{% url 'users_app:login-admin' user.pk %}">Cuadrar Caja</a>
            </li>
            <li>
                <a href="{% url 'salida_app:users-activos' %}">Consultar Agencias</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Empresa</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

{% if user.is_superuser %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Lista de Vehículos</h3>
        </div>
    </div>

    <div class="row">
        <div class="clo-xs-12">
            <div class="quilla-add">
                <span class="quilla-cantitem">
                    Tienes <span class="label label-warning">{{ cantidad }}</span> Vehículos Disponibles
                </span>
                <a class="btn btn-quilla pull-right" href="{% url 'manifiesto_app:agregar-carro' %}">
                    <span class="fa fa-plus"></span> Crear Nuevo Vehículo
                </a>
            </div>

        </div>
    </div><!-- page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-bordered table-hover table-condensed table-quilla">
                    <thead>
                        <tr>
                            <th>Denominación</th>
                            <th>Placa</th>
                            <th>Marca</th>
                            <th>Tipo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in  carros %}
                            <tr>
                                <td>{{ car.name }}</td>
                                <td>{{ car.plaque }}</td>
                                <td>{{ car.marca }}</td>
                                <td>
                                    {% if car.condition = '0' %}
                                      <span class="label label-success">Propio</span>
                                    {% else %}
                                        <span class="label label-warning">Sub Contrata</span>
                                    {% endif %}

                                </td>

                                <td class="text-center">
                                    <a href="{% url 'manifiesto_app:visualizar-carro' car.pk %}" class="btn btn-sm btn-success"><i class="fa fa-fw fa-eye"></i></a>
                                    <a href="{% url 'manifiesto_app:actualizar-carro' car.pk %}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="{% url 'manifiesto_app:eliminar-carro' car.pk %}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                                <td colspan="7">Lo sentimos no hay vehículos disponibles</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <h3>Necesita Permisos de Administrador</h3>
{% endif %}

{% endblock content_panel %}
