{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>

        <!-- <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
            </li>
            <li>
        <a href="#"><i class="fa fa-fw fa-money"></i> Entrega De Envio</a> -->
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-table"></i> Manifiesto</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Salida</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-desktop"></i> Mantenimientos Vehiculos</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-wrench"></i> Mantenimientos Conductores </a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-file"></i> Mantenimiento Sucursales</a>
    </li>

    <li>
        <a href="{% url 'profiles_app:agregar-profile' %}"><i class="fa fa-fw fa-dashboard"></i>Desiganar Sucursales</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Vehiculos Registrados</h3>
            <div class="alert alert-info" role="alert">
                <a href="{% url 'manifiesto_app:agregar-carro' %}" class="alert-link">Agregar Nuevo Vehiculo</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Denominacion</th>
                        <th>Placa</th>
                        <th>Marca</th>
                        <th>Tipo</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for car in  carros %}
                        <tr>
                            <td>{{ car.name }}</td> 
                            <td>{{ car.plaque }}</td>
                            <td>{{ car.marca }}</td>
                            <td>
                                {% if car.condition = '0' %}
                                  <span class="label label-success">Propio</span>
                                {% else %}
                                    <span class="label label-warning">Sub Contrata</span>  
                                {% endif %}
                                
                            </td>

                            <td class="text-center">
                                <a href="{% url 'manifiesto_app:visualizar-carro' car.pk %}" class="btn btn-sm btn-quilla"><i class="fa fa-fw fa-eye"></i>Ver</a>
                                <a href="{% url 'manifiesto_app:actualizar-carro' car.pk %}" class="btn btn-sm btn-quilla"><i class="glyphicon glyphicon-pencil"></i>Modificar</a>
                                <a href="{% url 'manifiesto_app:eliminar-carro' car.pk %}" class="btn btn-sm btn-quilla"><i class="glyphicon glyphicon-remove"></i>Eliminar</a>
                            </td>
                        </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content_panel %}



