{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>

        <!-- <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
            </li>
            <li>
        <a href="#"><i class="fa fa-fw fa-money"></i> Entrega De Envio</a> -->
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-table"></i> Manifiesto</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Salida</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-desktop"></i> Mantenimientos Vehiculos</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-wrench"></i> Mantenimientos Conductores </a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-file"></i> Mantenimiento Sucursales</a>
    </li>

    <li>
        <a href="{% url 'profiles_app:agregar-profile' %}"><i class="fa fa-fw fa-dashboard"></i>Desiganar Sucursales</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Vehiculo</h3>
        </div>
    </div>

    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        
        {% if form.errors %}
            <div class="row box-section">
                <div class="col-xs-12">
                    <div class="alert alert-dismissible alert-errors" role="alert">
                        <button type="button" class="close cerrar" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p><strong>Corrija los siguientes errores.</strong></p>
                    </div>
                </div>
            </div>
            
        {% endif %}

        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}" class="col-xs-3 control-label label-envio">Denominacio:</label>
                    <div class="col-xs-9">
                        {{ form.name }}
                        {% for error in form.name_id.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Placa del vehiculo:</label>
                    <div class="col-xs-9">
                        {{ form.plaque }}                        
                        {% for error in form.sender_name.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Marca del Vehiculo:</label>
                    <div class="col-xs-9">
                        {{ form.marca }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Codigo de Configuracion Vehicular:</label>
                    <div class="col-xs-9">
                        {{ form.code_ssettings_car}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">N° de Contancia de Inscripcion:</label>
                    <div class="col-xs-9">
                        {{ form.constancy_inscription}}
                    </div>
                </div> 
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Condicion:</label>
                    <div class="col-xs-9">
                        {{ form.condition}}
                    </div>
                </div> 
            </div>

            </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}