{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}

    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Caja Chica
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'users_app:login-admin' user.pk %}">Cuadrar Caja</a>
            </li>
            <li>
                <a href="{% url 'salida_app:users-activos' %}">Consultar Agencias</a>
            </li>
        </ul>
    </li>
        
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Guia de Remision</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4 class="title-cliente">Dirección de Partida:</h4>
            <dl class="dl-horizontal">
                <dt>Dirección:</dt>
                <dd>{{ object.origin.address }}</dd>
                <dt>Distrito:</dt>
                <dd>{{ object.origin.distrito }}</dd>
                <dt>Provincia:</dt>
                <dd>{{ object.origin.provincia }}</dd>
                <dt>Departamento:</dt>
                <dd>{{ object.origin.departamento }}</dd>
            </dl>   
        </div>

        <div class="col-xs-12 col-sm-6">
            <h4 class="title-cliente">Dirección de Llegada:</h4>
            <dl class="dl-horizontal">
                <dt>Dirección:</dt>
                <dd>{{ object.destination.address }}</dd>
                <dt>Distrito:</dt>
                <dd>{{ object.destination.distrito }}</dd>
                <dt>Provincia:</dt>
                <dd>{{ object.destination.provincia }}</dd>
                <dt>Departamento:</dt>
                <dd>{{ object.destination.departamento }}</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4 class="title-cliente">Remitente:</h4>
            <dl class="dl-horizontal">
                <dt>Nombres:</dt>
                <dd>{{ object.sender.full_name }}</dd>
                <dt>Ruc:</dt>
                <dd>{{ object.sender.ruc }}</dd>
                <dt>Dni:</dt>
                <dd>{{ object.sender.dni }}</dd>
            </dl>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h4 class="title-cliente">Destinatario:</h4>
            <dl class="dl-horizontal">
                <dt>Nombres:</dt>
                <dd>{{ object.addressee.full_name }}</dd>
                <dt>Ruc:</dt>
                <dd>{{ object.addressee.ruc }}</dd>
                <dt>Dni:</dt>
                <dd>{{ object.addressee.dni }}</dd>
            </dl>
        </div> 
    </div>

    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}

        <div class="row box-section">
            <div class="col-xs-3 label-detail-cant">
                <span>Cantidad (*)</span>
            </div>
            <div class="col-xs-9 label-detail-desc">
                <span>Descripción (*)</span>
            </div>

            <div class="col-xs-3">
                <div class="panel-body">{{ object.count }}</div>
            </div>
            <div class="col-xs-9">
                <div class="panel-body">{{ object.description }}</div>
            </div>
        </div>
        <div class="form-group">
            <h4 class="title-cliente">Unidad de Trasporte y Conductor:</h4>
            <div class="col-xs-12">
                {{ form.manifest }}
                {% for error in form.manifest.errors %}
                    <p class="help-block text-error">
                        {{ error|escape }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}