{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'users_app:nota' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>

        <!-- <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
            </li>
            <li>
        <a href="#"><i class="fa fa-fw fa-money"></i> Entrega De Envio</a> -->
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-table"></i> Tables</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-edit"></i> Forms</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-file"></i> Mantenimiento Sucursales</a>
    </li>

    <li>
        <a href="{% url 'profiles_app:agregar-profile' %}"><i class="fa fa-fw fa-dashboard"></i>Desiganar Sucursales</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Datos del Manifiesto</h3>
        </div>
    </div>
    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <h5 class="page-header title-quilla">Direccion de Partida: {{ object.origin }}</h3>
                <h5 class="page-header title-quilla">Direccion de LLegada: {{object.destination}} </h3>
                <h5 class="page-header title-quilla">Remitente: {{object.sender}}</h3>
                <h5 class="page-header title-quilla">Destinatario: {{object.addressee}}</h3>   
                <h5 class="page-header title-quilla">Cantidad:{{object.count}}</h3>
                <h5 class="page-header title-quilla">Descripcion: {{object.description}}</h3>
            </div>
            <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}" class="col-xs-3 control-label label-envio">Unidad de Trasporte y Conductor:</label>
                    <div class="col-xs-9">
                        {{ form.manifest }}
                        {% for error in form.name_id.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-liright" type="submit" name="action">guardar <i class="mdi-content-send right"></i>
            </button>
        </div>
     </div>
    </form>

{% endblock content_panel %}





<p>{{object.count}}</p>
<p></p>