{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-table"></i> Recepcion de Paquetes</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Registro de Egresos</a>
    </li>
        <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Manifiesto<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiestos en curso</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Quilla Cargo</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Por Sub Contrata </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Mantenimientos<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-edit"></i> Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-edit"></i> Vehiculos</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-edit"></i> Conductores</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Guia de Remision</h3>
        </div>
    </div>
    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-xs-6">
                <h4 class="title-cliente">Direccion de Partida:</h4>
                <div class="form-group">
                    <label for="{{ form.sender_id.id_for_label }}" class="col-xs-3 control-label label-envio">Direccion:</label>
                    <div class="col-xs-9">
                        {{ object.origin.address }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Distrito:</label>
                    <div class="col-xs-9">
                        {{ object.origin.distrito }}                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Provincia:</label>
                    <div class="col-xs-9">
                        {{ object.origin.provincia }}
                    </div>
                </div> 
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Departamento:</label>
                    <div class="col-xs-9">
                        {{ object.origin.departamento }}
                    </div>
                </div>   
            </div>

            <div class="col-xs-6">
                <h4 class="title-cliente">Direccion de Llegada:</h4>
                <div class="form-group">
                    <label for="{{ form.sender_id.id_for_label }}" class="col-xs-3 control-label label-envio">Direccion:</label>
                    <div class="col-xs-9">
                        {{ object.destination.address }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Distrito:</label>
                    <div class="col-xs-9">
                        {{ object.destination.distrito }}                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Provincia:</label>
                    <div class="col-xs-9">
                        {{ object.destination.provincia }}
                    </div>
                </div> 
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Departamento:</label>
                    <div class="col-xs-9">
                        {{ object.destination.departamento }}
                    </div>
                </div> 

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4 class="title-cliente">Remitente:</h4>
                <div class="form-group">
                    <label for="{{ form.sender_id.id_for_label }}" class="col-xs-3 control-label label-envio">Nombres:</label>
                    <div class="col-xs-9">
                        {{ object.sender.full_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Ruc:</label>
                    <div class="col-xs-9">
                        {{ object.sender.ruc }}                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Dni:</label>
                    <div class="col-xs-9">
                        {{ object.sender.dni }}
                    </div>
                </div>   
            </div>

            <div class="col-xs-6">
                <h4 class="title-cliente">Destinatario:</h4>
                <div class="form-group">
                    <label for="{{ form.sender_id.id_for_label }}" class="col-xs-3 control-label label-envio">Nombres:</label>
                    <div class="col-xs-9">
                        {{ object.addressee.full_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Ruc:</label>
                    <div class="col-xs-9">
                        {{ object.addressee.ruc }}                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Dni:</label>
                    <div class="col-xs-9">
                        {{ object.addressee.dni }}
                    </div>
                </div>   
            </div> 
        </div>
        <div class="row box-section">

            <div class="col-xs-3 label-detail-cant">
                <span>Cantidad (*)</span>
            </div>
            <div class="col-xs-9 label-detail-desc">
                <span>Descripción (*)</span>
            </div>

            <div class="col-xs-3">
                <div class="panel-body">{{ object.count }}</div>
            </div>
            <div class="col-xs-9">
                <div class="panel-body">{{ object.description }}</div>
            </div>
        </div>
        <div class="form-group">
                    <h4 class="title-cliente">Unidad de Trasporte y Conductor:</h4>
                    <div class="col-xs-9">
                        {{ form.manifest }}
                        {% for error in form.manifest.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}