{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>

        <!-- <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
            </li>
            <li>
        <a href="#"><i class="fa fa-fw fa-money"></i> Entrega De Envio</a> -->
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-table"></i> Manifiesto</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Salida</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-desktop"></i> Mantenimientos Vehiculos</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-wrench"></i> Mantenimientos Conductores </a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-file"></i> Mantenimiento Sucursales</a>
    </li>

    <li>
        <a href="{% url 'profiles_app:agregar-profile' %}"><i class="fa fa-fw fa-dashboard"></i>Desiganar Sucursales</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Datos del Manifiesto</h3>
        </div>
    </div>
    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <h5 class="page-header title-quilla">Conductor: {{object.driver}}</h3>
                <h5 class="page-header title-quilla">Vehiculo: {{object.car}}</h3>
                <h5 class="page-header title-quilla">Notas de Ingreso: </h3>
                    <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Serie Numero</th>
                        <th>Origen</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for deposit_slip in  object.deposit_slip.all %}
                        <tr>
                            <td>{{ deposit_slip.serie }}-{{deposit_slip.number}}</td> 
                            <td>{{ deposit_slip.origin }}</td>
                            <td>{{ deposit_slip.destination }}</td>
                        </tr>            
                        {% endfor %}
                <h5 class="page-header title-quilla">Cantida de Envios: {{object.deposit_slip.count}}</h3>   
                <h5 class="page-header title-quilla">Direccion de Partida:{{object.origin}}</h3>
                <h5 class="page-header title-quilla">Nro Direccion de LLegada: {{object.destination}}</h3>
                <h5 class="page-header title-quilla">Fecha de Salida: {{object.date_shipping}}</h3>
                <h5 class="page-header title-quilla">Creado Por: {{object.user_created}}</h3>
                <h5 class="page-header title-quilla">Ultima Modificacion por: {{object.user_modified}}</h3>
                <h5 class="page-header title-quilla">Estado: {{object.state}}</h3>
            </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
        </div>
        </div>
    </form>

{% endblock content_panel %}
