{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>

        <!-- <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
            </li>
            <li>
        <a href="#"><i class="fa fa-fw fa-money"></i> Entrega De Envio</a> -->
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-table"></i> Manifiesto</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Salida</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-desktop"></i> Mantenimientos Vehiculos</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-wrench"></i> Mantenimientos Conductores </a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-file"></i> Mantenimiento Sucursales</a>
    </li>

    <li>
        <a href="{% url 'profiles_app:agregar-profile' %}"><i class="fa fa-fw fa-dashboard"></i>Desiganar Sucursales</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-info">Marcara El Manifiesto infonviado</h3>
        </div>
    </div>
    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-info">Conductor:</h5>{{object.driver}}
                <h5 class="text-info">Vehiculo: </h5>{{object.car}}
                <h5 class="text-info">Notas de Ingreso:</h5>
                <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Serie-Numero</th>
                        <th>Direccion de Partida</th>
                        <th>Direccion de LLegada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for deposit_slip in  object.deposit_slip.all %}
                        <tr>
                            <td>{{ deposit_slip.serie }}-{{deposit_slip.number}}</td> 
                            <td>{{ deposit_slip.origin }}</td>
                            <td>{{ deposit_slip.destination }}</td>
                        </tr>            
                        {% endfor %}
                </tbody>
                </table>
                <h5 class="text-info">Direccion de Partida:</h5>{{object.origin}}
                <h5 class="text-info">Nro Direccion de LLegada:</h5> {{object.destination}}
                <h5 class="text-info">Fecha de Salida: </h5>{{object.date_shipping}}
                <h5 class="text-info">Estado: </h5>{{object.state}}
            </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}
