<form method="POST">{% csrf_token %}
    {{form.car}}
    {{form.driver}}
    {{form.destination}}
<div class="input-field ">
    <button type="submit" name="action">Filtrar
    </button>
</div>
<table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Fecha</th>
              <th>Nro Guia</th>
              <th>Destino</th>
              <th>Añadir</th>             
          </tr>
        </thead>
        <tbody>
                {% for slip in form.deposit_slip %}
                 <tr>
                    <td>{{slip.serie}}</td>
                    <td>{{slip.number}}</td>
                    <td>
                    {{ slip.choice_label }}</td>
                    <td>{{slip.tag}}</td>
                {% endfor %}  
                </tr>        
        </tbody>
</table>
<div class="input-field ">
    <button type="submit" name="action">Crear Manifiesto
    </button>
</div>
</form>
