<form method="POST">{% csrf_token %}
    {{form.car}}
    {{form.driver}}
    {{form.destination}}
<div class="input-field ">
    <button type="submit" name="action">Filtrar
    </button>
</div>
<table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Fecha</th>
              <th>Nro Guia</th>
              <th>Destino</th>
              <th>Añadir</th>             
          </tr>
        </thead>
        <tbody>
            {% for slips in  form.deposit_slip %}
            <tr>
              <td>{{slips.choice_label}}</td>
              <td>{{slips.tag}}</td>
              <td></td>
            </tr>            
          {% endfor %}     
        </tbody>
</table>
<div class="input-field ">
    <button type="submit" name="action">Crear Manifiesto
    </button>
</div>
</form>
