<form method="GET">{% csrf_token %}
    {{form.as_p}}
    {{objetos.as_table}}
<div class="input-field ">
    <button type="submit" name="action">guardar
    </button>
</div>
</form>

<table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Nombres</th>
              <th>Origen</th>
              <th>Por Cobrar</th>
              <th>Fecha</th>             
          </tr>
        </thead>
        <tbody>

          {% for paquete in  paquetes %}
            <tr>
              <td>{{ paquete.deposit_slip.addressee }}</td>
              <td>{{ paquete.deposit_slip.origin }}</td>
              <td>{{ paquete.saldo }}</td>
              <td>{{ paquete.date }}</td>
               <td>
                <a href="{% url 'ingreso_app:detalle_entrega' paquete.deposit_slip.pk %}">Cancelar Entrega</a>
              </td>
            </tr>            
          {% endfor %}

        </tbody>
      </table>