{% extends "ingreso/entrega/base_entrega.html" %}

{% block sidenav %}

    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#caja">
            <i class="fa fa-fw fa-bullseye"></i>
            Caja Chica
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="caja" class="collapse">
            <li>
                <a href="{% url 'users_app:login-admin' user.pk %}">Cuadrar Caja</a>
            </li>
            <li>
                <a href="{% url 'salida_app:users-activos' %}">Consultar Agencias</a>
            </li>
        </ul>
    </li>
        
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

{% if user.is_superuser %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Modificar Manifiesto</h3>
        </div>
    </div>

        <div class="row box-section">
        <div class="col-xs-12">
            <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
                <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Ingresa los datos a modificar de la Manfiesto.</p>

                <div class="form-group">
                    <label for="{{ form.driver.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Conductor:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.driver }}
                        {% for error in form.driver.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.car.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Vehículo:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.car }}
                        {% for error in form.car.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.origin.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Partida:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.origin }}
                        {% for error in form.origin.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.destination.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Destino:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.destination }}
                        {% for error in form.destination.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.date_shipping.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Fecha de Traslado:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.date_shipping }}
                        {% for error in form.date_shipping.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Razon Social:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.full_name }}
                        {% for error in form.full_name.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.ruc.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Ruc:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.ruc }}
                        {% for error in form.ruc.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.observations.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Observaciones:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.observations }}
                        {% for error in form.observations.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-quilla"><i class="fa fa-floppy-o fa-lg"></i> Guardar</button>
                        <a class="btn btn-default" role="button" href="{% url 'manifiesto_app:listar-manifiesto' %}" >Regresar a lista</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% else %}
    <h3>Necesita Permisos de Administrador</h3>
{% endif %}

{% endblock content_panel %}
