{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepción De Envio</a>
    </li>
    <li>
        <a class="active" href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro De Gastos</a>
    </li>
    
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="#">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Nuevo Egreso Economico</h3>
        </div>
    </div>

    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        
        {% if form.errors %}
            <div class="row box-section">
                <div class="col-xs-12">
                    <div class="alert alert-dismissible alert-errors" role="alert">
                        <button type="button" class="close cerrar" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p><strong>Corrija los siguientes errores.</strong></p>
                    </div>
                </div>
            </div>
            
        {% endif %}

        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}" class="col-xs-3 control-label label-envio">Descripcion:</label>
                    <div class="col-xs-9">
                        {{ form.description}}
                        {% for error in form.name_id.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Importe o Monto:</label>
                    <div class="col-xs-9">
                        {{ form.amount }}                        
                        {% for error in form.sender_name.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div> 
            </div>

        </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}