{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fwfa-cubes"></i> Recepcion de Paquetes</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>
        <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Manifiesto<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-money"></i> Manifiestos en curso</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-manifiesto' %}"><i class="fa fa-fw fa-money"></i> Manifiesto Quilla Cargo</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}"><i class="fa fa-fw fa-money"></i> Manifiesto Por Sub Contrata </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Mantenimientos<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-money"></i> Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-money"></i> Vehiculos</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-money"></i> Conductores</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Datos del Egreso Economico</h3>
        </div>
    </div>
    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <h5 class="page-header title-quilla">Descripcion: {{object.description}}</h3>
                <h5 class="page-header title-quilla">Monto: {{object.amount}}</h3>
                <h5 class="page-header title-quilla">Creado Por: {{object.user_created}}</h3> 
                <h5 class="page-header title-quilla">Fecha de Creacion:{{object.date}}</h3>
            </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
        </div>
        </div>
    </form>

{% endblock content_panel %}
