<html>
<head>
    <title>listar</title>
</head>
<body>
    <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Descripcion</th>
              <th>Monto</th>
              <th>Anular</th>             
          </tr>
        </thead>
        <tbody>

          {% for egreso in  egresos %}
            <tr>
              <td>{{ egreso.description }}</td>
              <td>{{ egreso.amount }}</td>
              <td>
                <a href="{% url 'salida_app:anular-egreso' egreso.pk %}">Anular</a>
              </td>
            </tr>            
          {% endfor %}

        </tbody>
</table>
</body>
</html>