{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-table"></i> Recepcion de Paquetes</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Registro de Egresos</a>
    </li>
        <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Manifiesto<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiestos en curso</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Quilla Cargo</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Por Sub Contrata </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Mantenimientos<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-edit"></i> Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-edit"></i> Vehiculos</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-edit"></i> Conductores</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Egrosos Economicos Registrados</h3>
            <div class="alert alert-info" role="alert">
                <a href="{% url 'salida_app:agregar-egreso' %}" class="alert-link">Agregar Nuevo Egreso Economico</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Importe</th>
                        <th>Fecha de Creacion</th>
                        <th>Usuario de Creacion</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for egreso in  egresos %}
                        <tr>
                            <td>{{ egreso.description|safe|truncatechars_html:60  }}</td> 
                            <td>{{ egreso.amount }}</td>
                            <td>{{ egreso.date_created }}</td>
                            <td>{{ egreso.user_created }}</td> 
                            <td class="text-center">
                                <a href="{% url 'salida_app:visualizar-egreso' egreso.pk %}" class="btn btn-sm btn-quilla"><i class="fa fa-fw fa-eye"></i>Ver</a>
                                <a href="{% url 'salida_app:anular-egreso' egreso.pk %}" class="btn btn-sm btn-quilla"><i class="glyphicon glyphicon-remove"></i>Anular</a>
                            </td>
                        </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content_panel %}



