{% extends "ingreso/nota_ingreso/base_nota.html" %}


{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'users_app:nota' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-table"></i> Tables</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-edit"></i> Forms</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-file"></i> Blank Page</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Nota de Ingreso</h3>
        </div>
    </div>

    <form action="" class="form-horizontal">
        
        <div class="row box-section">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
                <div class="numeracion">
                    <h4 class="titulo-numeracion">NOTA DE INGRESO</h4>
                    <div class="contenido-numeracion">
                        <div class="form-group">
                            <label class="sr-only control-label label-hidden" for="Email3">Serie</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" id="Email3" placeholder="Serie">
                            </div>
                            <label class="col-xs-2 control-label label-number" for="Password3" placeholder="numero">N°</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="Password3" placeholder="Numero">
                            </div>
                        </div>
                    </div>
                </div>  
            </div>     
        </div>

        <div class="row box-section">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="origen" class="col-xs-3 control-label label-envio">Origen</label>
                    <div class="col-xs-9">
                        <select id="origen" class="form-control input-sm">
                            <option>Lima</option>
                            <option>cusco</option>
                            <option>Abancay</option>
                            <option>Apurumac</option>
                            <option>la Libertad</option>
                        </select>
                    </div>
                </div>                
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="destino" class="col-xs-3 control-label label-envio">Destino</label>
                    <div class="col-xs-9">
                        <select id="destino" class="form-control input-sm">
                            <option>Lima</option>
                            <option>cusco</option>
                            <option>Abancay</option>
                            <option>Apurumac</option>
                            <option>la Libertad</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h4 class="title-cliente">Remitente</h4>
                <div class="form-group">
                    <label for="dni1" class="col-xs-3 control-label label-envio">dni</label>
                    <div class="col-xs-9">
                        <input type="text" id="dni1" class="form-control input-sm" placeholder="ingrese dni del remitente">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre1" class="col-xs-3 control-label label-envio">nombre</label>
                    <div class="col-xs-9">
                        <input type="text" id="nombre1" class="form-control input-sm" placeholder="ingrese su ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ruc1" class="col-xs-3 control-label label-envio">ruc</label>
                    <div class="col-xs-9">
                        <input type="text" id="ruc1" class="form-control input-sm" placeholder="ingrese su ">
                    </div>
                </div>    
            </div>

            <div class="col-xs-6">
                <h4 class="title-cliente">Destenitario</h4>
                <div class="form-group">
                    <label for="dni2" class="col-xs-3 control-label label-envio">dni</label>
                    <div class="col-xs-9">
                        <input type="text" id="dni2" class="form-control input-sm" placeholder="ingrese el dni del destinatario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre2" class="col-xs-3 control-label label-envio">nombre</label>
                    <div class="col-xs-9">
                        <input type="text" id="nombre2" class="form-control input-sm" placeholder="ingrese nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ruc" class="col-xs-3 control-label label-envio">ruc</label>
                    <div class="col-xs-9">
                        <input type="text" id="ruc" class="form-control input-sm" placeholder="ingrese su ">
                    </div>
                </div>

            </div>
        </div>

        <div class="row box-section">

            <div class="col-xs-3 label-detail-cant">
                <span>Cantidad</span>
            </div>
            <div class="col-xs-9 label-detail-desc">
                <span>Descripción</span>
            </div>

            <div class="col-xs-3">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
                
            </div>
            <div class="col-xs-9">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
            </div>

            <div class="col-xs-3">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
                
            </div>
            <div class="col-xs-9">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
            </div>
            
            <div class="col-xs-3">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
                
            </div>
            <div class="col-xs-9">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
            </div>

            <div class="col-xs-3">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
                
            </div>
            <div class="col-xs-9">
                <input type="text" id="detail1" class="form-control input-sm input-detail" placeholder="ingrese su ">
            </div>
        </div>

        <div class="row box-section">

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-full fa-fw"></i> Total</span>
                    <input class="form-control" type="text" placeholder="Total">
                </div>              
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-half fa-fw"></i> Acuenta</span>
                    <input class="form-control" type="text" placeholder="Acuenta">
                </div>    
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-quarter fa-fw"></i> Por Cobrar</span>
                    <input class="form-control" type="text" placeholder="Por Cobrar">
                </div>
                
            </div>
        </div>

        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}