{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block sidenav %}                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Nota de Ingreso</h3>
        </div>
    </div>

    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        
        {% if form.errors %}
            <div class="row box-section">
                <div class="col-xs-12">
                    <div class="alert alert-dismissible alert-errors" role="alert">
                        <button type="button" class="close cerrar" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p><strong>Corrija los siguientes errores.</strong></p>
                        <p><strong>{{ form.non_field_errors }}</strong></p>
                    </div>
                </div>
            </div>
            
        {% endif %}

        <div class="row box-section">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
                <div class="numeracion">
                    <h4 class="titulo-numeracion">NOTA DE INGRESO</h4>
                    <div class="contenido-numeracion">
                        <div class="form-group">
                            
                            <label class="sr-only control-label label-hidden" for="{{ form.serie.id_for_label }}">serie</label>
                            <div class="col-xs-4">
                                {{ form.serie }}
                            </div>

                            <label class="col-xs-2 control-label label-number" for="{{ form.number.id_for_label }}" placeholder="numero">N°</label>
                            <div class="col-xs-6">
                                {{ form.number }}
                            </div>
                            {% for error in form.serie.errors %}
                                <div class="col-xs-6">
                                    <p class="help-block text-error">
                                        {{ error|escape }}
                                    </p>
                                </div>
                            {% endfor %}
                            {% for error in form.number.errors %}
                                <div class="col-xs-6">
                                    <p class="help-block text-error">
                                        {{ error|escape }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
            </div>     
        </div>

        <div class="row box-section">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.voucher.id_for_label }}" class="col-xs-3 control-label label-envio">Comprobante(*)</label>
                    <div class="col-xs-9">
                        {{ form.voucher }}
                        {% for error in form.voucher.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.guide.id_for_label }}" class="col-xs-3 control-label label-envio">Nro. Guia (*)</label>
                    <div class="col-xs-9">
                        {{ form.guide }}
                        {% for error in form.destination.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.origin.id_for_label }}" class="col-xs-3 control-label label-envio">Origen (*)</label>
                    <div class="col-xs-9">
                        {{ form.origin }}
                        {% for error in form.origin.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.destination.id_for_label }}" class="col-xs-3 control-label label-envio">Destino (*)</label>
                    <div class="col-xs-9">
                        {{ form.destination }}
                        {% for error in form.destination.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4 class="title-cliente">Remitente</h4>
                <div class="form-group">
                    <label for="{{ form.sender_id.id_for_label }}" class="col-xs-3 control-label label-envio">Ruc/Dni (*)</label>
                    <div class="col-xs-9">
                        {{ form.sender_id }}
                        {% for error in form.sender_id.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_name.is_for_label }}" class="col-xs-3 control-label label-envio">Nombres</label>
                    <div class="col-xs-9">
                        {{ form.sender_name }}                        
                        {% for error in form.sender_name.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.sender_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Razón Social</label>
                    <div class="col-xs-9">
                        {{ form.sender_razonsocial }}
                    </div>
                </div>    
            </div>

            <div class="col-xs-12 col-sm-6">
                <h4 class="title-cliente">Destenitario</h4>
                <div class="form-group">
                    <label for="{{ form.addr_id.id_for_label }}" class="col-xs-3 control-label label-envio">Ruc/Dni (*)</label>
                    <div class="col-xs-9">
                        {{  form.addr_id }}
                        {% for error in form.addr_id.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.addr_name.id_for_label }}" class="col-xs-3 control-label label-envio">Nombres</label>
                    <div class="col-xs-9">
                        {{ form.addr_name }}
                        {% for error in form.addr_name.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.addr_razonsocial.id_for_label }}" class="col-xs-3 control-label label-envio">Razón Social</label>
                    <div class="col-xs-9">
                        {{ form.addr_razonsocial }}
                    </div>
                </div>

            </div>
        </div>

        <div class="row box-section">

            <div class="col-xs-3 label-detail-cant">
                <span>Cantidad (*)</span>
            </div>
            <div class="col-xs-9 label-detail-desc">
                <span>Descripción (*)</span>
            </div>

            <div class="col-xs-3">
                {{ form.count }}
                {% for error in form.count.errors %}
                    <p class="help-block text-error">
                        {{ error|escape }}
                    </p>
                {% endfor %}
            </div>
            <div class="col-xs-9">
                {{ form.description }}
                {% for error in form.description.errors %}
                    <p class="help-block text-error">
                        {{ error|escape }}
                    </p>
                {% endfor %}
            </div>

            
            
            

            
        </div>

        <div class="row box-section">

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-half fa-fw"></i> Acuenta</span>
                    {{ form.acuenta }}
                </div>    
                {% for error in form.acuenta.errors %}
                    <p class="help-block text-error">
                        {{ error|escape }}
                    </p>
                {% endfor %}
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-quarter fa-fw"></i> Por Cobrar</span>
                    <input class="form-control" type="text" placeholder="0.0" disabled>
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-battery-full fa-fw"></i> Total</span>
                    {{ form.total_amount }}
                </div> 
                {% for error in form.total_amount.errors %}
                    <p class="help-block text-error">
                        {{ error|escape }}
                    </p>
                {% endfor %}
            </div>

        </div>

        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}