{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block title %}Detalle Sucursal{% endblock title %}

{% block sidenav %}
                        
    <li>
        <a href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-table"></i> Recepción de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Registro De Egresos</a>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="active" href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Detalle Sucursal</h3>
        </div>
    </div>


     <div class="row box-section">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>{{ branch.name }}</dd>
                <dt>Direción:</dt>
                <dd>{{ branch.address }}</dd>
                <dt>Departamento:</dt>
                <dd>{{ branch.departamento }}</dd>
                <dt>Provincia:</dt>
                <dd>{{ branch.provincia }}</dd>
                <dt>Distrito:</dt>
                <dd>{{ branch.distrito }}</dd>
                <dt>Télefono:</dt>
                <dd>{{ branch.phone }}</dd>
            </dl>
            
        </div>

        <div class="col-xs-12">
            <a class="btn btn-warning" role="button" href="{% url 'ingreso_app:actualizar-branch' branch.pk %}" ><i class="fa fa-pencil fa-lg"></i> Editar</a>
            <a class="btn btn-default" role="button" href="{% url 'ingreso_app:listar-branch' %}" >Regresar a lista</a>
        </div>
    </div>


{% endblock content_panel %}
