{% extends "ingreso/entrega/base_entrega.html" %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>

    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>

    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-table"></i> Recepcion de Paquetes</a>
    </li>

    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-edit"></i> Registro de Egresos</a>
    </li>
        <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Manifiesto<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'manifiesto_app:listar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiestos en curso</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-manifiesto' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Quilla Cargo</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}"><i class="fa fa-fw fa-edit"></i> Manifiesto Por Sub Contrata </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Mantenimientos<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'ingreso_app:listar-branch' %}"><i class="fa fa-fw fa-edit"></i> Sucursales</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-carro' %}"><i class="fa fa-fw fa-edit"></i> Vehiculos</a>
                </li>
                <li>
                    <a href="{% url 'manifiesto_app:listar-conductor' %}"><i class="fa fa-fw fa-edit"></i> Conductores</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock sidenav %}

{% block content_panel %}


    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Modificar Conductor</h3>
        </div>
    </div>

    <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
        
        {% if form.errors %}
            <div class="row box-section">
                <div class="col-xs-12">
                    <div class="alert alert-dismissible alert-errors" role="alert">
                        <button type="button" class="close cerrar" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p><strong>Corrija los siguientes errores.</strong></p>
                    </div>
                </div>
            </div>
            
        {% endif %}

        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <div class="col-xs-9">                    
                        {% for error in form.sender_name.errors %}
                            <p class="help-block text-error">
                                {{ error|escape }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}" class="col-xs-3 control-label label-envio">Denominacion:</label>
                    <div class="col-xs-9">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.license.id_for_label }}" class="col-xs-3 control-label label-envio">Direccion:</label>
                    <div class="col-xs-9">
                        {{ form.address}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.addreess.id_for_label }}" class="col-xs-3 control-label label-envio">Distrito</label>
                    <div class="col-xs-9">
                        {{ form.distrito}}
                    </div>
                </div> 
                <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}" class="col-xs-3 control-label label-envio">Provincia:</label>
                    <div class="col-xs-9">
                        {{ form.provincia}}
                    </div>
                </div> 
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="col-xs-3 control-label label-envio">Departamento:</label>
                    <div class="col-xs-9">
                        {{ form.departamento}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha" class="col-xs-3 control-label">Telefono</label>
                    <div class="col-xs-9">
                      {{ form.phone}}
                    </div>
                </div>
            </div>

            </div>
        </div>
        <div class="row box-section">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock content_panel %}