{% extends "ingreso/entrega/base_entrega.html" %}

{% block title %}crear conductor{% endblock title %}

{% block sidenav %}

    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#caja">
            <i class="fa fa-fw fa-bullseye"></i>
            Caja Chica
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="caja" class="collapse">
            <li>
                <a href="{% url 'users_app:login-admin' user.pk %}">Cuadrar Caja</a>
            </li>
            <li>
                <a href="{% url 'salida_app:users-activos' %}">Consultar Agencias</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Empresa</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

{% if user.is_superuser %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Crear Conductor</h3>
        </div>
    </div>

    <div class="row box-section">
        <div class="col-xs-12">
            <form role="form" method="POST" class="form-horizontal">{% csrf_token %}
                <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Ingresa los datos de Conductor.</p>

                <div class="form-group">
                    <label for="{{ form.dni.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">DNI:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.dni }}
                        {% for error in form.dni.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Nombres:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.full_name }}
                        {% for error in form.full_name.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.license.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Licencia de Conducir:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.license }}
                        {% for error in form.license.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.addreess.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Dirección:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.addreess }}
                        {% for error in form.addreess.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Télefono:</label>
                    <div class="col-xs-12 col-sm-8">
                        {{ form.phone }}
                        {% for error in form.phone.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">E-mail:</label>
                    <div class="col-xs-12 col-sm-8">
                      {{ form.email }}
                      {% for error in form.email.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.date_birth.id_for_label }}" class="col-xs-12 col-sm-2 control-label label-envio">Fecha de Nacimineto:</label>
                    <div class="col-xs-12 col-sm-8">
                      {{ form.date_birth }}
                      {% for error in form.date_birth.errors %}
                            <div class="col-xs-12">
                                <p class="help-block text-error">
                                    {{ error|escape }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-quilla"><i class="fa fa-floppy-o fa-lg"></i> Guardar</button>
                        <a class="btn btn-default" role="button" href="{% url 'manifiesto_app:listar-conductor' %}" >Regresar a lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <h3>Necesita Permisos de Administrador</h3>
{% endif %}

{% endblock content_panel %}
