{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% block title %}eliminar conductor{% endblock title %}

{% block sidenav %}

    <li>
        <a href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepción de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro De Egresos</a>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="active" href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Eliminar Conductor</h3>
        </div>
    </div>

    <div class="row box-section">

        <div class="col-md-12">

            <form role="form" action="{% url 'manifiesto_app:eliminar-conductor' driver.id %}" method="POST">{% csrf_token %}
                <p class="">¿Desea eliminar el Conductor <strong>{{ driver.full_name }}</strong>?</p>
                <dl class="dl-horizontal">
                    <dt>DNI:</dt>
                    <dd>{{ driver.dni }}</dd>
                    <dt>Licencia:</dt>
                    <dd>{{ driver.license }}</dd>
                    <dt>Dirección:</dt>
                    <dd>{{ driver.addreess }}</dd>
                    <dt>Télefono:</dt>
                    <dd>{{ driver.phone }}</dd>
                    <dt>Email:</dt>
                    <dd>{{ driver.email }}</dd>
                    <dt>Fecha de nacimiento:</dt>
                    <dd>{{ driver.date_birth }}</dd>
                </dl>
                <button type="submit" class="btn btn-danger">Sí</button>
                <a href="{% url 'manifiesto_app:listar-conductor' %}" class="btn btn-default">No</a>
            </form>

        </div><!-- col-md-12 -->

    </div><!-- /row -->

{% endblock content_panel %}
