{% extends "ingreso/entrega/base_entrega.html" %}

{% block sidenav %}
                        
    <li>
        <a href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    
    <li>
        <a class="active" href="{% url 'users_app:entrega_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envio</a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-fw fa-table"></i> Tables</a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-fw fa-edit"></i> Forms</a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-file"></i> Blank Page</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
    </li>

{% endblock sidenav %}

{% block content_panel %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-entrega">Entrega De Envios</h3>
        </div>
    </div>
    
    <form method="get" class="form-horizontal">{% csrf_token %}
        
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="serie-numero" class="col-xs-3 control-label">Nota Ingreso</label>
                    <div class="input-group col-xs-9 box-nota">
                        {{ form.serie }}
                        <div class="input-group-addon">-</div>
                        {{ form.number }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="fecha" class="col-xs-3 control-label">Fecha</label>
                    <div class="col-xs-9">
                        {{ form.date }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="remitente" class="col-xs-3 control-label">Remitente</label>
                    <div class="col-xs-9">
                        {{ form.sender }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="destinatario" class="col-xs-3 control-label">Destinatario</label>
                    <div class="col-xs-9">
                        {{form.addressee }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Origen</th>
                        <th>Fecha Envio</th>
                        <th>Por Cobrar</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paquete in paquetes %}
                        <tr>
                            <td>{{ paquete.depositslip.addressee }}</td>
                            <td>{{ paquete.depositslip.origin }}</td>
                            <td>{{ paquete.depositslip.created }}</td>
                            {% if paquete.saldo == '0' %}
                            {% else %}    
                            {% endif %}
                            <td>
                                <span class="label label-success">s/ {{ paquete.saldo }}</span>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'users_app:entrega_detalle' %}" class="btn btn-sm btn-quilla"><i class="fa fa-fw fa-eye"></i> Detalle</a>
                                
                            </td>
                        </tr>    
                    {% endfor %}
                    
                </tbody>
          </table>  
        </div>
    </div>

{% endblock content_panel %}