<table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>             
          </tr>
        </thead>
        <tbody>

          {% for sucursal in  sucursales %}
            <tr>
              <td>{{ sucursal.name }}</td>
              <td>{{ sucursal.address }}</td>
              <td>{{ sucursal.phone }}</td>
              <td>
                <a href="{% url 'ingreso_app:actualizar-branch' sucursal.pk %}">modificar</a>
              </td>
              <td>
                <a href="{% url 'ingreso_app:eliminar-branch' sucursal.pk %}">eliminar</a>
              </td>
            </tr>            
          {% endfor %}

        </tbody>
</table>