{% extends "ingreso/nota_ingreso/base_nota.html" %}

{% load filters %}

{% block sidenav %}
                        
    <li>
        <a class="active" href="{% url 'ingreso_app:nota-ingreso' %}"><i class="fa fa-fw fa-truck"></i> Nota De Ingreso</a>
    </li>
    <li>
        <a href="{% url 'ingreso_app:lista_envio' %}"><i class="fa fa-fw fa-paper-plane-o"></i> Entrega De Envios</a>
    </li>
    <li>
        <a href="{% url 'manifiesto_app:manifiesto-no-recepcionado' %}"><i class="fa fa-fw fa-cubes"></i> Recepcion de Paquetes</a>
    </li>
    <li>
        <a href="{% url 'salida_app:listar-egreso' %}"><i class="fa fa-fw fa-money"></i> Registro de Egresos</a>
    </li>

    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#caja">
            <i class="fa fa-fw fa-bullseye"></i>
            Caja Chica
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="caja" class="collapse">
            <li>
                <a href="{% url 'users_app:login-admin' user.pk %}">Cuadrar Caja</a>
            </li>
            <li>
                <a href="{% url 'salida_app:users-activos' %}">Consultar Agencias</a>
            </li>
        </ul>
    </li>
        
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#manifiesto">
            <i class="fa fa-fw fa-bullseye"></i>
            Manifiesto
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="manifiesto" class="collapse">
            <li>
                <a href="{% url 'manifiesto_app:listar-manifiesto' %}">Manifiesto En Curso</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-manifiesto' %}">Manifiesto Quilla Cargo</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:agregar-sub_contrata' %}">Manifiesto por Sub-Contrata</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#mantenimiento">
            <i class="fa fa-fw fa-cogs"></i>
            Mantenimiento
            <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="mantenimiento" class="collapse">
            <li>
                <a href="{% url 'ingreso_app:listar-branch' %}">Sucursales</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-carro' %}">Vehiculos</a>
            </li>
            <li>
                <a href="{% url 'manifiesto_app:listar-conductor' %}">Conductores</a>
            </li>
        </ul>
    </li>

{% endblock sidenav %}

{% block content_panel %}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header title-quilla">Productos Enviados</h3>
        </div>
    </div>
{% if  form.deposit_slip.count > 0 %}
<form role="form" method="POST" class="form-horizontal">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-condensed table-quilla">
                <thead>
                    <tr>
                        <th>Nota de Ingreso</th>
                        <th>Origen</th>
                        <th>Remitente</th>
                        <th>Destinatario</th>
                        <th>Destino</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for slip in  form.deposit_slip %}
                        <tr>
                            {% for label in slip.choice_label|split_label %}
                                <td>
                                    {{label}}
                                </td>  
                            {% endfor %}
                            <td>
                                {{slip.tag}}
                            </td>
                        </tr>  
                        {% empty %}
                            <td colspan="7">Lo sentimos ud ya no tiene nuevos envios :( </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-quilla">Guardar</button>
                    </div>
                </div>
            </div>
    </div>
</form>
{% else %}
    <h3>Ud. No Tiene Registrada una Sucursal</h3>
{% endif %}

{% endblock content_panel %}